################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AccountAtAGlance/.vs/AccountAtAGlance/v14/.suo
/AccountAtAGlance/.vs/config/applicationhost.config
